.pageContainer {
  background: var(--ant-color-bg-base);
  border-radius: var(--ant-border-radius-sm);
  min-height: calc(100vh - 70px) !important;
}

.pageTitleContainer {
  padding: 0 var(--ant-padding-lg) !important;
  border-bottom: 1px solid var(--ant-color-border);
  height: 64px !important;
  display: flex;
  align-items: center;
}

.pageContent {
  padding: var(--ant-padding-lg);
  max-height: calc(100vh - 132px);
  overflow: auto;
}
