.sidebarContainer {
  border-right: 1px solid var(--ant-color-border);
  //   background-color: var(--ant-color-bg-base) !important;
}
.logoContainer {
  height: 64px;
  border-bottom: 1px solid var(--ant-color-border);
}
