.header {
  border-bottom: 1px solid var(--ant-color-border);
  background: var(--ant-layout-light-sider-bg) !important;
  padding: 0 var(--ant-padding) !important;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  global {
    .label {
      font-size: 10px;
      font-weight: 600;
      color: #333333;
      display: block;
      height: fit-content;
      line-height: normal;
    }
  }
}
