.container {
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, sans-serif;
  background-color: var(--ant-color-bg-base);
  color: #333;
  line-height: 1.6;
}

.mainContent {
  display: flex;
  gap: 20px;
  flex: 1;

  @media (max-width: 1024px) {
    flex-direction: column;
  }
}
