.beFeCard {
}
.configCollapse {
  background-color: transparent !important;
  overflow: hidden;
  padding: 0;
  :global {
    .ant-collapse-header {
      background-color: var(--ant-color-bg-elevated);
      padding-bottom: 0 !important;
      align-items: center !important;
      .ant-collapse-expand-icon {
        margin-bottom: 15px;
      }
    }
    .ant-collapse-content-box {
      padding: var(--ant-padding-lg);
      // border: 1px solid var(--ant-color-border);
      // border-radius: var(--ant-border-radius-lg);
      background-color: var(--ant-color-bg-elevated);
    }
  }
}
